@media screen and (max-width : 768px) {
    body{
        margin: 0 5px;
    }
    .navbar-nav{
        display: none;
    }

    
    .container-nav{
       display: flex;
       margin-left: 10px;
    }

    .navbar-toggler{
       margin-left: 350px;
       margin-right: 10px;
    }


    .container-product ,.container-rate,.container-reviews{
       display: flex;
       flex-direction: column;
    }

    .progress{
        height: fit-content;
    }

    .card{
        display: flex;
        justify-content: center;
        width: 480px;
    
    }

    img{
        width: 480px;
        height: 480px;
    }
  
    
}